@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
 body {
     font-size: 1.6vmin;
     justify-content: center;
     align-items: center;
     color: #e4bb68;
     height: calc(100vh - 8em);
     padding: 4em;
     margin:0;
     padding:0;
     color: rgba(255,255,255,.75);
     font-family: 'Anonymous Pro', monospace;
     background-color: rgb(25,25,25);
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgba(0,0,0,0.1);
}

 .icn {
     height:20px;
     width:20px;
     border-radius:100%;
}
 .img {
     border-radius:100%;
     margin:10px;
     height:140px;
     width:140px;
     animation: rotation 2s infinite linear;
}
 @keyframes rotation {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(359deg);
    }
}
 .button {
     color:#fff;
     border:2px solid green;
     padding:10px;
}
 .button:hover {
     background:#222;
}
 a {
     color:#fff;
     font-family: 'Anonymous Pro', monospace;
     text-decoration:none;
}
 .flicker {
     margin: 1rem auto;
     color: #fffefe61;
     background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.4, #ffffff)) no-repeat;
     background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.4, #fff)) no-repeat;
     background-size: 30px 100%;
     -webkit-background-clip: text;
     background-clip: text;
     animation: flick 1.5s infinite;
}
 @keyframes flick {
     0% {
         background-position: top left;
    }
     100% {
         background-position: top right;
    }
}
 .message-box{
     background:#222;
     width:60%;
     height:50px;
}
 .contact-box{
     background:#222;
     width:60%;
     height:50px;
     outline:none;
     border:none;
     color:green;
}
 .btn-send{
     outline:none;
     border:none;
     cursor:pointer;
     background:green;
     color:white;
}
 .mymsg {
     background:#222;
     width:78%;
     outline:none;
     border:none;
     padding:5px;
     float:bottom;
     top:0;
}
 a, i {
     font-size:30px;
}
 .line-1{
     position: relative;
     top: 50%;
     width: 24em;
     margin: 0 auto;
     border-right: 2px solid rgba(255,255,255,.75);
     font-size: 180%;
     text-align: center;
     white-space: nowrap;
     overflow: hidden;
     transform: translateY(-50%);
}
 .anim-typewriter{
     animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
 @keyframes typewriter{
     from{
         width: 0;
    }
     to{
         width: 24em;
    }
}
 @keyframes blinkTextCursor{
     from{
         border-right-color: rgba(255,255,255,.75);
    }
     to{
         border-right-color: transparent;
    }
}

/*. Responsive */
.topnav .bars {
     display: none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
   font-size:13px;
  text-decoration: none;
}


 @media screen and (max-width: 600px) {
     .topnav a {
         display: none;
         float: left;
         padding: 14px 16px;
    }
     .topnav a.bars {
         float: right;
         display: block;
    }
}
.topnav a.home {
  display:block;
  background-color: #04AA6D;
  color: white;
}
 @media screen and (max-width: 600px) {
     .topnav.responsive {
        position: relative;
    }
     .topnav.responsive .bars {
         position: absolute;
         display: block;
         right: 0;
         top: 0;
    }
     .topnav.responsive a {
         float: none;
         display:block;
         vertical-align: middle;
         text-align: left;
       
    }
   
   .topnav.responsive a:hover {
     background:#333;
   }
}
 
